<div>
    <h2 class="title">Available car models</h2>
    <select class="dropdown"  id="brands" onchange="filterCarData()">
        <option value="All" selected="selected" >All</option>
    </select>
    <div>
        <p>Mileage</p>
        <input type="text" placeholder="From" id="kmFrom" onkeyup="filterCarData()">
        <input type="text" placeholder="To" id="kmTo" onkeyup="filterCarData()">
    </div>
    <div class="cars-holder" id="carsHolder">
    </div>
</div>

<template id="carCard">
    <div class="car-card">
        <div class="header">
            <h3>%brandModel%</h3>
        </div>
        <div class="features">
            <p class="year">%year%</p>
            <p class="feature">%km%</p>
        </div>
        <input type="button" value="Buy" />
    </div>
</template>