.list-background--blue{
background-color: blue;
}

.list-background--red{
background-color: red;
}

.list-background--green{
background-color: green;
}

.list-border--dashed{
border-style: dashed;
}
.list-border--solid{
border-style: solid;
}
.list-border--dotted{
border-style: dotted;
}