.font--normal{
font-style: normal;
}

.font--italic{
font-style: italic;
}

.font--underline{
text-decoration-line: underline;
  text-decoration-style: double;
}

.font--lightblue{
color: lightblue;
}

.font--lightred{
color: #FFCCCB;
}

.font--lightgreen{
color: #00FF00;
}