<h1>FAQ</h1>

<div class="faq-wrapper">
    <div class="faq-head" onclick="toggleBody()">
        <span>+</span>Why is AEM not working?</div>
    <div class="faq-body hide">- Have you tried turning it Off and back On again?</div>
</div>