.cars-wrapper {
    padding: 5rem;
}

.cars-holder {
    display: flex;
    flex-wrap: wrap;
}

.header {
    position: absolute;
        width: 100%;
        height: 19%;
        background: #2ea44f;
        left: 0;
        padding-left: 0%;
        top: 0;
        border-radius: 10px;
        height: 27%;
}

.movie-header {
    background: rgb(245, 197, 24) !important;
}

.genre {
    margin-left: 2rem;
}

h3 {
    color: white;
    margin-left: 2rem;
}

.car-card {
    position: relative;
    background-color: #fefefe;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 10rem;
    padding: 2rem;
    margin: 0.5rem;
    min-width: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cars-list li {
  list-style: none;
  position: relative;
  padding: 3px 0 2px 25px;
  color: orange;
  font-weight: bold;
}

.cars-list li::before {
  content: '*';
  position: absolute;
  top: 6px;
  left: 0;
}

input[type=button] {
    background-color: gray;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgb(27 31 35 / 10%) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    width: 5rem;
    padding: 0.5rem;
    justify-self: end;
}

.features {
   min-height: 5rem;
   margin-top: 7rem;
}