.cmp-header {
  background-color: lightblue;
padding:10px;
}

.head{
color:red;
}

.er{
color: blue;
border: 1px solid;
font-weight: bold;
}

.hey{
background-color: lightgrey;
font-size: 30px;
color: black;
padding: 10px;
border: 1px solid blue;

}