<h1>Car brands</h1>
<div data-sly-use.model="com.carproject.core.models.CarFilterModel">
    <div data-sly-list="${model.filteredCars}">
        <h3>${item.brand} ${item.model}</h3>
        <p>${item.year}</p>
        <p>${item.km}KM</p>
        <p>${item.description}</p>
        <input type="button" value="Buy now" />
    </div>
</div>
