<div>
    <h2 style="color: red; font-size: 30px;">Available car models.</h2>
    <select id="brands" onchange="filterCarData()">
        <option value="All" selected="selected" >All</option>
    </select>

    <div class="cars-holder" id="carsHolder">
    </div>
</div>

<template id="carCard">
    <div class="car-card">
        <div class="header">
            <h3>%brandModel%</h3>
        </div>
        <div class="features">
            <p class="year">%year%</p>
            <p class="feature">%km%</p>
        </div>
        <input type="button" value="Buy" />
    </div>
</template>