<h1>Surprise</h1>

<div class="faq-wrapperGift">
    <div class="faq-headGift" onclick="toggleBodyGift()">
        🎁 Click for a surprise 🎁 </div>
    <img class="faq-bodyGift hideGift" src="https://i.insider.com/5f5a5f37e6ff30001d4e8163?width=700" alt="giraffes" width="500" >
</div>