<div>
    <h2 class="title">Available universities</h2>
    <select class="dropdown"  id="country" onchange="filterUniversityData()">
        <option value="All" selected="selected" >All Uni</option>
    </select>

    <div class="university-holder" id="universityHolder">
    </div>
</div>

<template id="universityCard">
    <div class="university-card">
        <div class="header">
            <h3>%CountryName%</h3>
        </div>
        <div class="features">
            <p class="year">%year%</p>
            <p class="feature">%webPage%</p>
        </div>
        <input type="button" value="Click Here" />
    </div>
</template>