.quotes{
background-color: lightblue;
  border-radius: 25px;
color: black;
font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 10px lightgrey;
}

.write{
background-color: lightgrey;
color: blue;
 font-style: italic;
border: 1px solid;
font-weight: bold;
}

/*
.btn {
  display: inline-block;
  border-radius: 30px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  cursor: pointer;
  margin: 5px;
}
*/