.dropdown {
    background-color: lightgrey;
    border: 6px solid #a45f2e;
    color: #a44a2e;

    padding: 15px;
}

.title {
    color: #ffcfa6;
}

.header {
    position: absolute;
        width: 800%;
        height: 30%;
        background: #a45f2e;
        left: 1;
        padding-left: 10%;
        top: 10;

        height: 50%;
}

h3 {
    color: lightgrey;
    margin-left: 5rem;
}

.university-card {
    position: relative;
    background-color: lightgrey;
    border: 5px solid #a44a2e;

    width: 20rem;
    padding: 5rem;
    margin: 1rem;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.university-list li {
  list-style: none;
  position: relative;
  padding: 5px 0 5px 50px;
  color: orange;
  font-weight: bold;
}

.university-list li::before {
  content: '*';
  position: absolute;
  top: 16px;
  left: 3;
}


.university-wrapper {
    padding: 15rem;
}

.university-holder {
    display: flex;
    flex-wrap: wrap;
}


.features {
   min-height: 10rem;
   margin-top: 13rem;
}

.year,
.feature {
    font-size: 35px;
    color: #a44a2e;
    font-weight: 1000;
}

input[type=button] {
    background-color: grey;
    border: 3px solid rgba(27, 31, 35, .15);

    box-shadow: rgb(27 31 35 / 10%) 0 1px 0;
    box-sizing: border-box;
    color: #lightgrey;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 24px;
    font-weight: 1200;
    line-height: 40px;
    width: 10rem;
    padding: 1rem;
    justify-self: end;
}
