.cmp-helloworld {
  background-color: lightblue;
padding:10px;
}

.head{
color:red;
}

.er{
color: blue;
border: 1px solid;
font-weight: bold;
}

.hey{
font-size: 30px;
color: black;
padding:10px;
border: 1px solid blue;
background-color:pink;
}