<div class="card">
    <img src="https://i.insider.com/5f5a5f37e6ff30001d4e8163?width=700" alt="Avatar" style="width:30%">
    <div class="container">
        <h4><b>John Doe</b></h4>
        <p>Architect & wanna be Web Dev</p>
    </div>
</div>

