.car-main {

    background-color:#ffe137;
    color:blue;
}

.car-allcards {
    background-color:#fff1a1;
    color:darkblue;
}

.car-border {
    border-style:groove;
}

.car-btn {
    background-color:#ffe137;
    width: 25%;
    border-radius: 50%
}

