h1{
border: 2px solid grey;
 text-decoration:underline;
   }

.faq-wrapperGift{
background-color:white;
color:darkblue;
padding:10px;

}

.faq-headGift{
cursor:pointer;
padding:10px;
border: 1px solid;
font-weight: bold
}

.faq-bodyGift{
padding:10px;
border: 1px solid;
background-color:lightblue;
}

.hideGift{
display:none;
}

.showGift{
display:block;
}