h1{
border: 2px solid white;
 text-decoration:underline;
   }

.faq-wrapper{
background-color:white;
color:darkred;
padding:10px;

}

.faq-head{
cursor:pointer;
padding:10px;
border: 1px solid;
font-weight: bold
}

.faq-body{
padding:10px;
border: 1px solid;
background-color:pink;
}

.hide{
display:none;
}

.show{
display:block;
}